.criarContatos{
    display: inline-block;
    width: 100px;
    padding-bottom: 25px;
}
.nome,.numero,.email{
    margin-bottom: 25px;

}

#descricao{
    resize: none;
    height: 60px;
}

#btn-depositar{
    background: linear-gradient(to bottom, #87CEEB, #4682B4);
    color: #fff;
    border: none;
    cursor: pointer;
}